<div class="page-header">
  <h1>
    <%= render 'avatar', :user => @user %>
    <%= @user.email %>
    <%= link_to "Follow", "", :class => "btn btn-default" %>
    <%= link_to "Unfollow", "", :class => "btn btn-default" %>
  </h1>
</div>

<div class="row">
  <div class="col-sm-offset-2 col-sm-4">
    <ul class="list-group">
      <li class="list-group-item disabled">
        Leaders (<%= @user.leaders.count %>)
      </li>
      <% @user.leaders.each do |user| %>
      <li class="list-group-item">
        <%= link_to user.email, user %>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="col-sm-4">
    <ul class="list-group">
      <li class="list-group-item disabled">
        Followers (<%= @user.followers.count %>)
      </li>
      <% @user.followers.each do |user| %>
      <li class="list-group-item">
        <%= link_to user.email, user %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
