<div class="row">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-2">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="https://identicons.github.com/<%= photo.owner.email.split('@').first %>.png" width="50" alt="identicon">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= photo.owner.email %></h4>
          <%= photo.created_at %>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= link_to image_tag(photo.image, :class => "img-responsive"), photo %>
          <p class="lead">
            <%= photo.caption %>
          </p>
          <ul class="media-list">
            <% photo.comments.each do |comment| %>
            <li class="media">
              <div class="media-left">
                <a href="#">
                <img class="media-object" src="https://identicons.github.com/<%= comment.commenter.email.split('@').first %>.png" alt="identicon" width="50">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading"><%= comment.commenter.email %></h4>
                <%= comment.content %>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


